.skillsTitle {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: Quicksand, Arial, sans-serif;
}
.skillsHeading {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    margin: 0 0 30px;
    color: #000;
    font-family: Playfair Display, Georgia, serif;
}
.skillsText {
    margin-bottom: 1.5em;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #000000b3;
}
.progressTitle {
    font-size: 15px;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 400;
    color: #1c1b1b;
    margin: 25px 0 0;
}
.prog {
    height: 6px;
    box-shadow: none;
    background: #f2f3f7;
    overflow: visible;
}

.progress-bar {      
    position: relative; 
    border-radius: 8px;    
}
    
   


.pro1  {
    color: #2c98f0 !important;
}
.pro1 .progress-bar::before {
    content: "75%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #2c98f0;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro1 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #2c98f0;
    

    border-radius: 50%;
}

   



.pro2 .progress-bar::before {
    content: "85%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #ffc107;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro2 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";     
    border-radius: 50%;
}

.pro2 .progress-bar:after, .pro2 .progress-bar {
    color: #f9bf3f !important;
    background: #f9bf3f !important;
}



.pro3 .progress-bar::before {
    content: "60%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #ec5453 ;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro3 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";     
    border-radius: 50%;
}

.pro3 .progress-bar:after, .pro3 .progress-bar {
    color: #ec5453  !important;
    background: #ec5453 !important;
}



.pro4 .progress-bar::before {
    content: "90%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #a84cb8 ;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro4 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";     
    border-radius: 50%;
}

.pro4 .progress-bar:after, .pro4 .progress-bar {
    color: #a84cb8  !important;
    background: #a84cb8 !important;
}



.pro5 .progress-bar::before {
    content: "70%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #2fa499  ;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro5 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";     
    border-radius: 50%;
}

.pro5 .progress-bar:after, .pro5 .progress-bar {
    color: #2fa499   !important;
    background: #2fa499  !important;
}



.pro6 .progress-bar::before {
    content: "90%";
    position: absolute;
    bottom:100%;
    right: 0;     
    color: #4054b2   ;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.pro6 .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: "";     
    border-radius: 50%;
}

.pro6 .progress-bar:after, .pro6 .progress-bar {
    color: #4054b2    !important;
    background: #4054b2   !important;
}